@import "tailwindcss";

@utility bg-main {
  @apply bg-white text-black;
  @apply dark:bg-black dark:text-white;
}

@utility sidebar {
  @apply border-r border-color pb-5 h-screen transition-all duration-500 ease-in-out flex flex-col overflow-x-hidden;
}

@utility sidebar_footer {
  @apply mt-auto justify-between flex items-center border-t border-color ;
}

@utility sidebar_body {
  @apply  flex flex-col gap-2;
}


@utility border-color {
  @apply border-black/20 dark:border-white/20;
}

@utility blue-color {
  @apply border-blue-800/50 bg-blue-800/50;
  @apply hover:border-blue-800 hover:bg-blue-800 hover:shadow-blue-800;
}

@utility red-color {
  @apply border-red-800/50 bg-red-800/50;
  @apply hover:border-red-800 hover:bg-red-800 hover:shadow-red-800;
}

@utility divider {
  @apply border-color w-full h-1 border-t-2;
}


@utility iconBtn {
  @apply p-1 border blue-color  rounded cursor-pointer shadow-2xl;
}

@utility closeBtn {
  @apply p-1 border red-color  rounded cursor-pointer shadow-2xl;
}
@utility inputStyle {
  @apply p-2 border blue-color  rounded cursor-pointer outline-0 text-2xl;
}



.region-label {
  font-size: 14px;
  width:1rem;
  white-space: nowrap;
  font-weight: bold;
  color: darkblue;
  pointer-events: none;

  &::after{
    content:'region';
    margin-left:5px;
  }
}
.lake-label {
  font-size: 12px;
  width:1rem;
  white-space: nowrap;
  font-weight: bold;
  color: black;
  pointer-events: none;

}

.marker-default { background: lightblue; }
.marker-green { background: green; }
.marker-lightgreen { background: limegreen; }
.marker-yellow { background: yellow; }
.marker-orange { background: orange; }
.marker-red { background: crimson; }


.marker {
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  border: 2px solid white;
  animation: pulse-animation 2s infinite;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
