@import "tailwindcss";

@utility bg-main {
  @apply bg-white text-black;
  @apply dark:bg-black dark:text-white;
}

@utility sidebar {
  @apply border-r border-color pb-5 h-screen transition-all duration-500 ease-in-out flex flex-col overflow-x-hidden;
}

@utility sidebar_footer {
  @apply mt-auto justify-between flex items-center border-t border-color ;
}

@utility border-color {
  @apply border-black/20 dark:border-white/20;
}

@utility iconBtn {
  @apply p-1 border border-blue-800/50 bg-blue-800/50  rounded cursor-pointer shadow-2xl;
  @apply hover:border-blue-800 hover:bg-blue-800 hover:shadow-blue-800;
}


.region-label {
  font-size: 14px;
  width:1rem;
  white-space: wrap;
  font-weight: bold;
  color: darkblue;
  pointer-events: none;

  &::after{
    content:'region';
    margin-left:5px;
  }
}
